.images {
    width: 40%;
}

.image-wrapper {
    float: left;
    width: 50%;
    padding: 0.6rem;
}

.group {
    margin-left: 15rem;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

